@model nfebox.domain.entities.Usuario
@using nfebox.domain.entities
@{
    ViewBag.Title = "Index";
    List<NotaFiscal> notas = ViewBag.Notas;
}

<h1>Painel de controle</h1>

@Html.Partial("NotasFiscaisUsuario", notas)

