<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="nfeboxContext" connectionString="Server=179e9d0c-b465-4313-aa86-9fe4017733cc.sqlserver.sequelizer.com;Database=db179e9d0cb4654313aa869fe4017733cc;User ID=rhqoupeiccnsidvk;Password=mXambKvGworfgjTWbXrpBfTV33CiftnVcxY8Eyqe5fkHufm4vRRDYH5fdmrhgmBc;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
